html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: black;
  color: white;
  padding: 20px 50px;
}

nav .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .top .item .logo {
  font-size: 32px;
  font-weight: 900;
  padding: 20px;
  cursor: pointer;
}

nav .top .item .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

nav .top .item .search .input {
  border: none;
  background-color: transparent;
}

nav .top .item .search .input::-webkit-input-placeholder {
  color: lightgray;
}

nav .top .item .search .input:-ms-input-placeholder {
  color: lightgray;
}

nav .top .item .search .input::-ms-input-placeholder {
  color: lightgray;
}

nav .top .item .search .input::placeholder {
  color: lightgray;
}

nav .top .item .offer {
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}

nav .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .bottom .item {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

.slider {
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.slider .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500vw;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.slider .wrapper .item {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.slider .wrapper .item .bg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}

.slider .wrapper .item .img {
  z-index: 1;
}

.slider .wrapper .item .title {
  position: absolute;
  top: 10%;
  right: 10%;
  color: white;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  z-index: 1;
}

.slider .wrapper .item .price {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  color: white;
  border: 1px solid gray;
  z-index: 1;
}

.slider .wrapper .item .buy {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  color: white;
  background-color: black;
  border: 1px solid gray;
  z-index: 1;
  cursor: pointer;
}

.slider .wrapper .item .buy:hover {
  background-color: white;
  color: black;
}

.slider .wrapper .item:nth-child(1) .bg {
  background-color: #369e62;
}

.slider .wrapper .item:nth-child(1) .price {
  color: #369e62;
}

.slider .wrapper .item:nth-child(2) .bg {
  background-color: rebeccapurple;
}

.slider .wrapper .item:nth-child(2) .price {
  color: white;
}

.slider .wrapper .item:nth-child(3) .bg {
  background-color: teal;
}

.slider .wrapper .item:nth-child(3) .price {
  color: teal;
}

.slider .wrapper .item:nth-child(4) .bg {
  background-color: cornflowerblue;
}

.slider .wrapper .item:nth-child(4) .price {
  color: cornflowerblue;
}

.slider .wrapper .item:nth-child(5) .bg {
  background-color: #7c7350;
}

.slider .wrapper .item:nth-child(5) .price {
  color: cornsilk;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

.features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.features .feature .img {
  width: 50px;
  height: 50px;
}

.features .feature .title {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.features .feature .desc {
  color: gray;
  width: 50%;
  height: 100px;
}

.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  /* clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); */
}

.product .img {
  width: 50%;
}

.product .details {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.product .details .title {
  font-size: 75px;
  font-weight: 900;
}

.product .details .desc {
  font-size: 24px;
  color: gray;
}

.product .details .colors,
.product .details .sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.product .details .colors .color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}

.product .details .colors .color:last-child {
  background-color: darkblue;
}

.product .details .sizes .size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.product .details .buy {
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.product .details .buy:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.payment {
  width: 500px;
  height: 500px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.payment .title {
  font-size: 20px;
  color: lightgray;
}

.payment lable {
  font-size: 14px;
  font-weight: 300;
}

.payment .input {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.payment .input::-webkit-input-placeholder {
  color: #a3a3a3;
}

.payment .input:-ms-input-placeholder {
  color: #a3a3a3;
}

.payment .input::-ms-input-placeholder {
  color: #a3a3a3;
}

.payment .input::placeholder {
  color: #a3a3a3;
}

.payment .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment .cards .icon {
  width: 40px;
  margin-right: 10px;
}

.payment .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.payment .info .input.sm {
  width: 30%;
}

.payment .btn {
  position: absolute;
  height: 40px;
  bottom: -40px;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: #369e62;
  color: #fff;
  border: none;
  cursor: pointer;
}

.payment .close {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: gray;
  color: #fff;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 2px;
}

.gallery {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
}

.gallery .item .img {
  width: 100%;
}

.season {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.season .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.season .item .img {
  width: 100%;
  height: 500px;
}

.season .item .title {
  font-size: 40px;
}

.season .item .btn {
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .left {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

footer .left .menu .title {
  font-size: 16px;
}

footer .left .menu .list {
  padding: 0;
  list-style: none;
}

footer .left .menu .list .item {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

footer .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .right .menu .mail .input {
  padding: 5px;
}

footer .right .menu .mail .btn {
  padding: 5px;
  background-color: black;
  color: #fff;
}

footer .right .menu .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .right .menu .icons .img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

footer .right .menu .copyright {
  font-weight: 300;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  nav {
    padding: 20px;
  }
  nav .top .item .search {
    display: none;
  }
  nav .bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav .bottom .item {
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }
  .slider {
    -webkit-clip-path: none;
            clip-path: none;
  }
  .slider .wrapper .item .bg {
    width: 100%;
    height: 100%;
  }
  .slider .wrapper .item .img {
    width: 90%;
  }
  .slider .wrapper .item .title {
    display: none;
  }
  .slider .wrapper .item .price {
    top: unset;
    bottom: -50px;
    left: 0;
    background-color: lightgray;
  }
  .slider .wrapper .item .buy {
    bottom: 0;
    right: 0;
    top: unset;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product {
    -webkit-clip-path: none;
            clip-path: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product .img {
    width: 80%;
  }
  .product .details {
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 0;
  }
  .product .details .title {
    font-size: 50px;
    margin: 0;
  }
  .gallery {
    display: none;
  }
  .season {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .season .item:nth-child(2) {
    padding: 50px;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .left {
    padding: 20px;
    width: 90%;
  }
  footer .right {
    padding: 20px;
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: whitesmoke;
  }
  footer .right .mail {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */